config/database.yml

log/*.log

public1/*

nbproject/*

index/*

tests/*
library/*
nbproject/*

language/*
docs/*
db/*
application/configs/*
application1/*
Bootsrtap1/*.php
*.swp

*.DS_Store

.DS_Store

*.ini

